body {
  background-color: dimgray;
}
.btn {
  text-align: right;
}
.intro {
  text-align: center;
  font-size: xx-large;
  color: cyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name {
  text-align: center;
}
.projects {
  text-align: center;
}